<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">news</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Apps</a></li>
                    <li class="breadcrumb-item active">Cantacts</li>
                </ol>
            </div>
            <h4 class="page-title">Cantacts</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-lg-4">
        <div class="card profile-card">
            <div class="card-body p-0">
                <div class="media p-3  align-items-center">
                    <img src="~/images/users/user-4.jpg" alt="user" class="rounded-circle thumb-xl">
                    <div class="media-body ml-3 align-self-center">
                        <h5 class="pro-title">Merri Diamond</h5>
                        <p class="mb-2 text-muted">@@SaraHopkins.com</p>
                    </div>
                    <div class="action-btn">
                        <a href="" class=""><i class="fas fa-pen text-info mr-2"></i></a>
                        <a href="" class=""><i class="fas fa-trash-alt text-danger"></i></a>
                    </div>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->

    <div class="col-lg-4">
        <div class="card profile-card">
            <div class="card-body p-0">
                <div class="media p-3  align-items-center">
                    <img src="~/images/users/user-5.jpg" alt="user" class="rounded-circle thumb-xl">
                    <div class="media-body ml-3 align-self-center">
                        <h5 class="pro-title">Paul Schmidt</h5>
                        <p class="mb-2 text-muted">@@SaraHopkins.com</p>
                    </div>
                    <div class="action-btn">
                        <a href="" class=""><i class="fas fa-pen text-info mr-2"></i></a>
                        <a href="" class=""><i class="fas fa-trash-alt text-danger"></i></a>
                    </div>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-4">
        <div class="card profile-card">
            <div class="card-body p-0">
                <div class="media p-3  align-items-center">
                    <img src="~/images/users/user-8.jpg" alt="user" class="rounded-circle thumb-xl">
                    <div class="media-body ml-3 align-self-center">
                        <h5 class="pro-title">Harry McCall</h5>
                        <p class="mb-2 text-muted">@@SaraHopkins.com</p>
                    </div>
                    <div class="action-btn">
                        <a href="" class=""><i class="fas fa-pen text-info mr-2"></i></a>
                        <a href="" class=""><i class="fas fa-trash-alt text-danger"></i></a>
                    </div>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-3">
        <div class="card client-card">
            <div class="card-body text-center">
                <img src="~/images/users/user-8.jpg" alt="user" class="rounded-circle thumb-xl">
                <h5 class=" client-name">Wendy Keen</h5>
                <span class="text-muted mr-3"><i class="dripicons-location mr-2 text-info"></i>New York, USA</span>
                <span class="text-muted"><i class="dripicons-phone mr-2 text-info"></i>+1 123 456 789</span>
                <p class="text-muted text-center mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <button type="button" class="btn btn-sm btn-gradient-secondary">Project</button>
                <button type="button" class="btn btn-sm btn-gradient-primary">Message</button>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-3">
        <div class="card client-card">
            <div class="card-body text-center">
                <img src="~/images/users/user-4.jpg" alt="user" class="rounded-circle thumb-xl">
                <h5 class=" client-name">Wendy Keen</h5>
                <span class="text-muted mr-3"><i class="dripicons-location mr-2 text-info"></i>New York, USA</span>
                <span class="text-muted"><i class="dripicons-phone mr-2 text-info"></i>+1 123 456 789</span>
                <p class="text-muted text-center mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <button type="button" class="btn btn-sm btn-gradient-secondary">Project</button>
                <button type="button" class="btn btn-sm btn-gradient-primary">Message</button>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-3">
        <div class="card client-card">
            <div class="card-body text-center">
                <img src="~/images/users/user-5.jpg" alt="user" class="rounded-circle thumb-xl">
                <h5 class=" client-name">Wendy Keen</h5>
                <span class="text-muted mr-3"><i class="dripicons-location mr-2 text-info"></i>New York, USA</span>
                <span class="text-muted"><i class="dripicons-phone mr-2 text-info"></i>+1 123 456 789</span>
                <p class="text-muted text-center mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <button type="button" class="btn btn-sm btn-gradient-secondary">Project</button>
                <button type="button" class="btn btn-sm btn-gradient-primary">Message</button>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-3">
        <div class="card client-card">
            <div class="card-body text-center">
                <img src="~/images/users/user-3.jpg" alt="user" class="rounded-circle thumb-xl">
                <h5 class=" client-name">Wendy Keen</h5>
                <span class="text-muted mr-3"><i class="dripicons-location mr-2 text-info"></i>New York, USA</span>
                <span class="text-muted"><i class="dripicons-phone mr-2 text-info"></i>+1 123 456 789</span>
                <p class="text-muted text-center mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <button type="button" class="btn btn-sm btn-gradient-secondary">Project</button>
                <button type="button" class="btn btn-sm btn-gradient-primary">Message</button>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-3">
        <div class="card client-card">
            <div class="card-body text-center">
                <img src="~/images/users/user-1.png" alt="user" class="rounded-circle thumb-xl">
                <h5 class=" client-name">Wendy Keen</h5>
                <span class="text-muted mr-3"><i class="dripicons-location mr-2 text-info"></i>New York, USA</span>
                <span class="text-muted"><i class="dripicons-phone mr-2 text-info"></i>+1 123 456 789</span>
                <p class="text-muted text-center mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <button type="button" class="btn btn-sm btn-gradient-secondary">Project</button>
                <button type="button" class="btn btn-sm btn-gradient-primary">Message</button>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-3">
        <div class="card client-card">
            <div class="card-body text-center">
                <img src="~/images/users/user-2.png" alt="user" class="rounded-circle thumb-xl">
                <h5 class=" client-name">Wendy Keen</h5>
                <span class="text-muted mr-3"><i class="dripicons-location mr-2 text-info"></i>New York, USA</span>
                <span class="text-muted"><i class="dripicons-phone mr-2 text-info"></i>+1 123 456 789</span>
                <p class="text-muted text-center mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <button type="button" class="btn btn-sm btn-gradient-secondary">Project</button>
                <button type="button" class="btn btn-sm btn-gradient-primary">Message</button>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-3">
        <div class="card client-card">
            <div class="card-body text-center">
                <img src="~/images/users/user-3.png" alt="user" class="rounded-circle thumb-xl">
                <h5 class=" client-name">Wendy Keen</h5>
                <span class="text-muted mr-3"><i class="dripicons-location mr-2 text-info"></i>New York, USA</span>
                <span class="text-muted"><i class="dripicons-phone mr-2 text-info"></i>+1 123 456 789</span>
                <p class="text-muted text-center mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <button type="button" class="btn btn-sm btn-gradient-secondary">Project</button>
                <button type="button" class="btn btn-sm btn-gradient-primary">Message</button>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-3">
        <div class="card client-card">
            <div class="card-body text-center">
                <img src="~/images/users/user-4.png" alt="user" class="rounded-circle thumb-xl">
                <h5 class=" client-name">Wendy Keen</h5>
                <span class="text-muted mr-3"><i class="dripicons-location mr-2 text-info"></i>New York, USA</span>
                <span class="text-muted"><i class="dripicons-phone mr-2 text-info"></i>+1 123 456 789</span>
                <p class="text-muted text-center mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <button type="button" class="btn btn-sm btn-gradient-secondary">Project</button>
                <button type="button" class="btn btn-sm btn-gradient-primary">Message</button>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->
