@section styles{
    <!-- DataTables -->
    <link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}


<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">news</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Hospital</a></li>
                    <li class="breadcrumb-item active">Rooms</li>
                </ol>
            </div>
            <h4 class="page-title">Allotments List</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row justify-content-center">
    <div class="col-md-3">
        <div class="card report-card">
            <div class="card-body">
                <div class="float-right">
                    <i class="fas fa-bed text-danger report-main-icon"></i>
                </div>
                <h4 class="title-text mt-0">General Ward</h4>
                <h3 class="my-3">122/150 <small class="font-15">Total Beds</small></h3>
                <p class="mb-0 text-muted text-truncate"><i class="mdi mdi-wallet font-15"></i> Room Charge 24 hours / <span class="text-success">$80</span></p>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-3">
        <div class="card report-card">
            <div class="card-body">
                <div class="float-right">
                    <i class="fas fa-radiation text-primary report-main-icon"></i>
                </div>
                <h4 class="title-text mt-0">Semi-Special Rooms</h4>
                <h3 class="my-3">12/20 <small class="font-15">Total</small></h3>
                <p class="mb-0 text-muted text-truncate"><i class="mdi mdi-wallet font-15"></i> Room Charge 24 hours / <span class="text-success">$300</span></p>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-3">
        <div class="card report-card">
            <div class="card-body">
                <div class="float-right">
                    <i class="fas fa-apple-alt text-warning report-main-icon"></i>
                </div>
                <h4 class="title-text mt-0">Special Rooms</h4>
                <h3 class="my-3">8/15 <small class="font-15">Total</small></h3>
                <p class="mb-0 text-muted text-truncate"><i class="mdi mdi-wallet font-15"></i> Room Charge 24 hours / <span class="text-success">$400</span></p>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-3">
        <div class="card report-card">
            <div class="card-body">
                <div class="float-right">
                    <i class="fas fa-procedures text-success report-main-icon"></i>
                </div>
                <h4 class="title-text mt-0">ICU Rooms</h4>
                <h3 class="my-3">9/12 <small class="font-15">Total</small></h3>
                <p class="mb-0 text-muted text-truncate"><i class="mdi mdi-wallet font-15"></i> Room Charge 24 hours / <span class="text-success">$500</span></p>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-primary px-4 mt-0 mb-3" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg2"><i class="mdi mdi-plus-circle-outline mr-2"></i>New Room Allotment</button>
                <div class="table-responsive">
                    <table id="datatable" class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Room No</th>
                                <th>Room Type</th>
                                <th>ID</th>
                                <th>Patiant Name</th>
                                <th>Allotment Date</th>
                                <th>Discharge date</th>
                                <th class="text-right">Action</th>
                            </tr><!--end tr-->
                        </thead>

                        <tbody>
                            <tr>
                                <td>10</td>
                                <td>Special</td>
                                <td>#3251</td>
                                <td>Donald Gardner</td>
                                <td>18/07/2019</td>
                                <td>24/07/2019</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td>02</td>
                                <td>Semi-Special</td>
                                <td>#6632</td>
                                <td>Keith Jacobson</td>
                                <td>17/07/2019</td>
                                <td>29/07/2019</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td>08</td>
                                <td>General</td>
                                <td>#3214</td>
                                <td>Peggy Doe</td>
                                <td>01/07/2019</td>
                                <td>08/07/2019</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td>13</td>
                                <td>General</td>
                                <td>#1021</td>
                                <td>Jennifer Doss</td>
                                <td>11/07/2019</td>
                                <td>14/07/2019</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td>09</td>
                                <td>ICU</td>
                                <td>#3254</td>
                                <td>Greg Crosby</td>
                                <td>04/07/2019</td>
                                <td>08/07/2019</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td>14</td>
                                <td>Special</td>
                                <td>#2213</td>
                                <td>Fred Godina</td>
                                <td>18/07/2019</td>
                                <td>24/07/2019</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                        </tbody>
                    </table>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->

<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Room Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="PatientName">Patient Name</label>
                                <input type="text" class="form-control" id="PatientName" value="Fred Godina" required="">
                            </div><!--end col-->
                        </div><!--end col-->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="RoomNo">Room No</label>
                                <input type="text" class="form-control" id="RoomNo" value="22" required="">
                            </div>
                        </div> <!--end col-->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="RoomType">Room Type</label>
                                <input type="text" class="form-control" id="RoomType" value="Special" required="">
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PatientID">ID</label>
                                <input type="text" class="form-control" id="PatientID" value="#3625" required="">
                            </div>
                        </div><!--end col-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="AllotmentDate">Allotment Date</label>
                                <input type="text" class="form-control" id="AllotmentDate" value="18/07/2019" required="">
                            </div>
                        </div> <!--end col-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="DischargeDate">Discharge Date</label>
                                <input type="text" class="form-control" id="DischargeDate" value="22/07/2019" required="">
                            </div>
                        </div> <!--end col-->
                    </div><!--end row-->

                    <button type="button" class="btn btn-sm btn-primary">Save Change</button>
                    <button type="button" class="btn btn-sm btn-danger">Delete</button>
                </form><!--end form-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">New Room Allotment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="PatientName">Patient Name</label>
                                <input type="text" class="form-control" id="PatientName" required="">
                            </div><!--end col-->
                        </div><!--end col-->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="RoomNo">Room No</label>
                                <input type="text" class="form-control" id="RoomNo" required="">
                            </div>
                        </div> <!--end col-->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="RoomType">Room Type</label>
                                <input type="text" class="form-control" id="RoomType" required="">
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PatientID">ID</label>
                                <input type="text" class="form-control" id="PatientID" required="">
                            </div>
                        </div><!--end col-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="AllotmentDate">Allotment Date</label>
                                <input type="text" class="form-control" id="AllotmentDate" required="">
                            </div>
                        </div> <!--end col-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="DischargeDate">Discharge Date</label>
                                <input type="text" class="form-control" id="DischargeDate" required="">
                            </div>
                        </div> <!--end col-->
                    </div><!--end row-->

                    <button type="button" class="btn btn-sm btn-primary">Save</button>
                    <button type="button" class="btn btn-sm btn-danger">Delete</button>
                </form><!--end form-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section scripts {
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        // Datatable
        $('#datatable').DataTable();
    </script>
}
