@section styles  {
    <link href="~/plugins/jsgrid/jsgrid.min.css" rel="stylesheet">
    <link href="~/plugins/jsgrid/jsgrid-theme.min.css" rel="stylesheet">
}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">news</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">UI Kit</a></li>
                    <li class="breadcrumb-item active">jsGrid</li>
                </ol>
            </div>
            <h4 class="page-title">jsGrid</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div id="jsGrid"></div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->

@section scripts {
    <script src="~/plugins/jsgrid/jsgrid.min.js"></script>
    <script src="~/plugins/jsgrid/db.js"></script>
    <script src="~/scripts/pages/jquery.jsgrid.init.js"></script>
}